<form id="exercise-form" data-parsley-ui-enabled="false">
    <div id="general_error" style="display:none">
        <div class="alert alert-danger" role="alert">
            <strong>Please check the form for errors</strong> - Fields marked with a * are required
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group validation-container">
                    <label for="name" class="col-sm-4 control-label">Exercise Name&nbsp;<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Exercise Name" data-parsley-required="true">
                    </div>
                </div>
                <div id="aka_list">
                    <div id="aka_1" class="repeatable_container">
                        <div class="form-group">
                            <label for="aka-0" class="col-sm-4 control-label">AKA</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="aka-0" id="aka-0" placeholder="AKA">
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger remove-aka-field" disabled><span class="glyphicon glyphicon-remove"></span></button>
                                        <button class="btn btn-primary add-aka-field"><span class="glyphicon glyphicon-plus"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group validation-container">
                    <label for="description" class="col-sm-4 control-label">Description&nbsp;<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <textarea name="description" id="description" class="form-control" rows="10" placeholder="Description" data-parsley-required="true"></textarea>
                    </div>
                </div>
                <div class="form-group validation-container">
                    <label for="classes" class="col-sm-4 control-label">Exercise Type(s)&nbsp;<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <select name="classes" id="classes" class="form-control" multiple data-parsley-required="true">
                            <option value="Cardio">Cardio</option>
                            <option value="Weights">Weights</option>
                            <option value="Bodyweight">Bodyweight</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="movement" class="col-sm-4 control-label">Movement(s)</label>
                    <div class="col-sm-8">
                        <select name="movement" id="movement" class="form-control" multiple>
                            <option value="Push">Push</option>
                            <option value="Pull">Pull</option>
                            <option value="Rotation">Rotation</option>
                        </select>
                    </div>
                </div>
                <div class="form-group validation-container">
                    <label for="main_muscles" class="col-sm-4 control-label">Main Muscle(s)&nbsp;<span class="required">*</span></label>
                    <div class="col-sm-8">
                        <select name="main_muscles" id="main_muscles" class="form-control" multiple data-parsley-required="true">
                            <option value="Biceps">Biceps</option>
                            <option value="Triceps">Triceps</option>
                            <option value="Abdominals">Abdominals</option>
                            <option value="Deltoid">Deltoid</option>
                            <option value="Calf">Calf</option>
                            <option value="Glute">Glute</option>
                            <option value="Hamstrings">Hamstrings</option>
                            <option value="Quads">Quads</option>
                            <option value="Forearms">Forearms</option>
                            <option value="Traps">Traps</option>
                        </select>
                    </div>
                </div>
                <div class="form-group validation-container">
                    <label for="targeted_muscles" class="col-sm-4 control-label">Targeted Muscle(s)</label>
                    <div class="col-sm-8">
                        <select name="targeted_muscles" id="targeted_muscles" class="form-control" multiple>
                            <option value="Outer Bicep">Outer Bicep</option>
                            <option value="Inner Bicep">Inner Bicep</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h2>Which aspects to track?</h2>

            <div style="padding-bottom: 30px">
            <strong>Typically for weighted or body weight exercises</strong>
            <div class="row"><div class="col-md-12">
                <div class="form-inline">
                    <label class="checkbox-inline">
                      <input type="checkbox" name="weight" id="weight" value="y"> Weight
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="reps" id="reps" value="y"> Reps
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="tempo" id="tempo" value="y"> Tempo
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="assist" id="assist" value="y"> Assist
                    </label>
                </div>
            </div></div>
            </div>

            <div style="padding-bottom: 30px">
            <strong>Typically for cardio exercises</strong>

            <div class="row"><div class="col-md-12">
                <div class="form-inline">
                    <label class="checkbox-inline">
                      <input type="checkbox" name="time" id="time" value="y"> Time
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="speed" id="speed" value="y"> Speed
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="distance" id="distance" value="y"> Distance
                    </label>
                </div>
            </div></div>

            <div class="row"><div class="col-md-12">
                <div class="form-inline">
                    <label class="checkbox-inline">
                      <input type="checkbox" name="hr" id="hr" value="y"> Heart Rate
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" name="cal" id="cal" value="y"> Calories
                    </label>
                </div>
            </div></div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="incline" id="incline" value="y"> Incline
                        </label>
                    </div>
                    <div id="incline_error" class="col-sm-offset-3 col-sm-6 required" style="display:none">
                        Please make sure you only put numbers in the boxes below
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="form-group validation-container">
                            <label for="incline_upper" class="col-sm-3 control-label">Upper limit</label>
                            <div class="col-sm-4">
                                <input type="text" value="20" name="incline_upper" step="1" id="incline_upper" class="form-control" placeholder="Upper limit" disabled data-parsley-type="number" data-parsley-required="false">
                            </div>
                        </div>
                        <div class="form-group validation-container">
                            <label for="incline_increment" class="col-sm-3 control-label">Increment</label>
                            <div class="col-sm-4">
                                <input type="text" value="0.5" name="incline_increment" id="incline_increment" class="form-control" placeholder="Increment" disabled data-parsley-type="number" data-parsley-required="false">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="incline_unit" class="col-sm-3 control-label">Units</label>
                            <div class="col-sm-4">
                                <select id="incline_unit" name="incline_unit" class="form-control" disabled>
                                    <option value="pc">%</option>
                                    <option value="degrees">Degrees</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="resisted" id="resisted" value="y"> Resisted
                        </label>
                    </div>
                    <div id="resisted_error" class="col-sm-offset-3 col-sm-6 required" style="display:none">
                        Please make sure you only put numbers in the boxes below
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="form-group validation-container">
                            <label for="resistance_upper" class="col-sm-3 control-label">Upper limit</label>
                            <div class="col-sm-4">
                                <input type="text" value="20" name="resistance_upper" step="1" id="resistance_upper" class="form-control" placeholder="Upper limit" disabled data-parsley-type="number" data-parsley-required="false">
                            </div>
                        </div>
                        <div class="form-group validation-container">
                            <label for="resistance_increment" class="col-sm-3 control-label">Increment</label>
                            <div class="col-sm-4">
                                <input type="text" value="1" name="resistance_increment" id="resistance_increment" class="form-control" placeholder="Increment" disabled data-parsley-type="number" data-parsley-required="false">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-offset-6 col-md-1" style="padding-top: 20px; padding-bottom: 20px">
            <button class="btn btn-success" id="save">Save&nbsp;<span class="glyphicon glyphicon-save"></span></button>
        </div>
        <div class="col-md-5" style="padding-top: 20px; padding-bottom: 20px"><span id="last-saved">Not yet saved</span></div>
    </div>
</form>