{% extends "base.html" %}

{% block content %}

<h1>Define an Exercise</h1>

<div id="exercise-form-container"></div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>This is how your exercise sets will be tracked</h3>
        <div id="set-preview-container">Save the exercise before you will see anything here</div>
    </div>
</div>

{% endblock %}


{% block extra_js_bottom %}

<script type="text/javascript">
var exercise_id = {% if exercise_id %}"{{ exercise_id }}"{% else %}undefined{% endif %};
</script>

<script type="text/javascript">
jQuery(document).ready(function($) {

    octopus.service.exerciseForm({
        selector : "#exercise-form-container",
        exercise_id : exercise_id,
        save_callback : function() {
            octopus.service.setPreview({
                selector: "#set-preview-container",
                dataobj: octopus.page.data
            })
        }
    });

})
</script>
{% endblock%}